html, body {
    margin: 0px;
    line-height: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 5rem 1fr 7rem;
    grid-template-areas:
    "header header header" 
    ". content ."
    "footer footer footer";
    min-height: 100vh;
}

.header {
    display: grid;
    grid-area: header;
    background-color: #96A990;
}

.content {
    display: grid;
    grid-area: content;
    background-color:beige;
}

.footer {
    display: grid;
    grid-area: footer;
    background-color: rgba(150, 169, 144, 0.5);
}

