body {
    margin: 0px;
    font-family: Inter;
    /* background-image: url(images/unsplash-background.jpg);
    background-size: 100vw, 80vh; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 6rem 1fr 15rem;
    grid-template-areas:
    "header header header" 
    "content content content"
    "footer footer footer";
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: #96A990;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    column-gap: 10px;
    align-items: center;
}

.footer {
    background-color:  #96A990;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: footer;
    line-height: 2rem;
    font-size: 0.7rem;
    padding-left: 10%;
    padding-bottom: 14%;
}

/*cssgrid-generator.netlify.app used to found our grid*/


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.category {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1rem;
    justify-content: left;
    padding-right: 5%;
    padding-left: 5%;
}

.woman {
    padding-right: 6%;
}

.man {
    padding-right: 6%;
}

.new-in {
    padding-right: 6%;
}

.outlet {
    padding-right: 6%;
}

.asp {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10%;
}

.account {
    grid-area: 1 / 3 / 2 / 4;
    justify-items: right;
}
.search_icon {
    padding-right: 10%;
}

.bag_icon {
    padding-left: 10%;
}
/*fixa mellanrum och justify right*/



.front_pic {
    width: 100%;
}

.front_text_1 {
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 32%;
    text-align: left;
}

.front_text_2 {
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 37%;
    text-align: right;
}

.content {
    display: grid;
    display: grid;
    grid-area: content;
}

.content_first_page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15%;
    text-align: center;
    row-gap: 200px;  
}

.front_img2 {
    display: flex;
    margin-left: 15%;
}

h3 {
    font-size: medium;
    font-weight: 600;
    padding-top: 10%;
}





/* @import url('https://fonts.googleapis.com/css?family=Inter&display=swap'); */

@font-face {
    font-family: Inter;
    src: url(assets/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: InterLight;
    src: url(assets/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: InterSemibold;
    src: url(assets/Inter-SemiBold.ttf) format('truetype');
}
/* https://www.w3schools.com/css/css3_fonts.asp */









/* --------------- PRODUCT PAGE!--------------- */








.container_2 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 6rem 1fr 5fr 15rem;
    grid-template-areas:
    "header header header" 
    "block block block"
    "content content content"
    "footer footer footer";
    min-height: 100vh;
}


.top_content_productpage {
    display: grid;
    grid-area: block;
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
}

.content_productpage {
    display: grid;
    grid-area: content;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    margin: 8%;
    margin-top: 0px;
    justify-items: center;
    align-content: center;
}

/* code from lecture with Garrit */



.filter {
    display: flex;
    background-color:  #96A990;
    letter-spacing: 4px;
    align-content:  left;
    align-items: left;
    text-align: center;
    width: 6rem;
    border-style: hidden;
}

.woman_pp {
    font-weight: 100;
    letter-spacing: 7px;
    text-align: center;
}

.blazers {
    letter-spacing: 8px;
    text-align: center;
    line-height: 0rem;
}

.product_image {
    width: 100%;
    max-height: 100%
}

/* Pictures from Gina tricot */

.product_text {
    padding-bottom: 25%;
}







/* --------------------- item PAGE!-------------------- */






.container_3 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 6rem 4rem 5fr 4fr 15rem;
    grid-template-areas:
    "header header header" 
    "block1 block1 block1"
    "block2 block2 block2"
    "block3 block3 block3"
    /* "content content content" */
    "footer footer footer";
    min-height: 100vh;
}

.block1 {
    grid-area: block1;
    margin-left: 5%;
    display: flex;
    align-items: center;

}

.block2 {
    grid-area: block2;
    /* background-color: rgb(115, 87, 141); */
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 3rem;
    margin: 5%;
}

.block3 {
    grid-area: block3;
    background-color: rgb(187, 161, 210);
}

.small_items_img {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
}

/* .bild1 {
    max-width: 100%;
    height: auto;
} */

.big_items_img {

}

.item_description {
    display: grid;
    /* grid-template-rows: repeat(5, 1fr 1fr 1fr 1fr 3fr); */
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 4fr;
}

.colourbox {
    display: flex;
    background-color:  #d9d9d9;
    letter-spacing: 4px;
    width: 15rem;
    height: 2rem;
    border-style: hidden;
    justify-content: right;
    align-items: center;
}

.size_buttons {
    /* background-color: rgb(232, 232, 170); */
    display: flex;
    justify-content: space-between;
    max-width: 15rem;
}

button {
    border-style: hidden;
}

.size_guide {
    font-size: 11px;
    text-decoration: underline;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    max-width: 15rem;
}

.add_to_bag {
    background-color: black;
    color: rgb(255, 255, 255);
    max-width: 15rem;
    max-height: 2rem;
    font-family: InterSemibold;
    letter-spacing: 3px;
    margin-top: 1rem;
}

.free_ship {
    font-size: 11px;
    letter-spacing: 0.4px;
}

span {
    font-family: InterSemibold;
}
/* https://www.w3schools.com/tags/tag_span.asp */


.rubrik_description {
    font-size: 12px;
    letter-spacing: 2px;
}

.description_text_massa {
    font-size: 11px;
    max-width: 19rem;
    font-family: InterLight;
}